.profileWrapper {
    display: grid;
    padding: 10px;
    grid-template-areas: "avatar personalInfo" "myPosts myPosts";

    grid-template-rows: 400px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}


